*.ncb
*.suo
*.lib
*.user
*.obj

*.idb
*.pdb
*.pch
*.intermediate.manifest
mt.dep

Debug/*
Release/*

builtinscripts/obj/*
builtinscripts/build/*.user
builtinscripts/build/Default/*
builtinscripts/include/*

libluaimg/build/*.user
libluaimg/build/Debug/*
libluaimg/build/Release/*
libluaimg/obj/*

luaimgdll/build/*.user
luaimgdll/obj/*
