*.ncb
*.suo
*.lib
*.user
*.obj
*.aps

*.idb
*.pdb
*.pch
*.intermediate.manifest
mt.dep

bin/*

builtinscripts/obj/*
builtinscripts/build/*.user
builtinscripts/build/Default/*

libluaimg/build/*.user
libluaimg/obj/*

luaimgdll/build/*.user
luaimgdll/obj/*

guitool/build/*.user
guitool/obj/*

consoletool/build/*.user
consoletool/obj/*
