*.ncb
*.suo
*.lib
*.user
*.obj

*.idb
*.pdb
*.pch
*.intermediate.manifest
mt.dep

bin/*

builtinscripts/obj/*
builtinscripts/build/*.user
builtinscripts/build/Default/*

libluaimg/build/*.user
libluaimg/build/Debug/*
libluaimg/build/Release/*
libluaimg/obj/*

luaimgdll/build/*.user
luaimgdll/obj/*

consoletool/build/*.user
consoletool/obj/*
